<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto integrador - ALTA</title>
</head>

<body>

    <header class="main-header"> <!-- main-header -->
        <input type="checkbox" id="menu">

        <nav class="nav-bar"> <!-- nav-bar -->
            <ul class="nav-bar__nav-list">
                <li class="nav-bar__nav-item">
                    <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="views/alta.html" class="nav-bar__nav-link">Alta</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="#" class="nav-bar__nav-link">Contacto</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="#" class="nav-bar__nav-link">Nosotros</a>
                </li>
            </ul>
        </nav> <!-- nav-bar -->

        <section id="login" class="bk p-88">
            <div class="container">
                <div class="woman">
                    <div class="woman-bk"></div>
                    <div class="woman-form">
                        <h2>My account</h2>
                        <h3>Login</h3>
                        <form action="">
                            <label for="email">Email</label>
                            <input type="email" id="email">

                            <label for="password">Password</label>
                            <input type="password">
                            <p class="small txt-gray">Forgot password?</p>
                            <button class="btn">Login</button>
                        </form>
                        <p class="small">
                            Or Signup <a href="#"><span class="txt-primary">Here</span></a> <!-- en href:crear un icono de sign in para acceder sin registrarse  -->
                        </p>
                    </div>
                </div>
            </div>


        </section>

        

        
    <script type="module" src="/main.js"></script>
</body>

</html>