<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto integrador - ALTA</title>
</head>

<body>

    <header class="main-header"> <!-- main-header -->
        <input type="checkbox" id="menu">

        <nav class="nav-bar"> <!-- nav-bar -->
            <ul class="nav-bar__nav-list">
                <li class="nav-bar__nav-item">
                    <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="views/alta.html" class="nav-bar__nav-link">Alta</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="#" class="nav-bar__nav-link">Contacto</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="#" class="nav-bar__nav-link">Nosotros</a>
                </li>
            </ul>
        </nav> <!-- nav-bar -->

        <main>

        <div id="inscripcion">
            <div class="container"></div>
            <div class="login-form"></div>
            <div class="form-group"></div>
            <label for="Email">Email Address</label>
            <input type="email" class="form-control">
            <div class="form-group"></div>
            <label for="Password">Password</label>
            <input type="password" class="form-control">
            <button class="btn btn-dark">Sign In</button>


            <h1>Login</h1>

            <div class="register-form"></div>
            <hr>
            <form action="" >
                <h1>Register/Verify</h1>
                <div class="form-group"></div>
                <label for="name">First Name</label>
                <input type="text" class="form-control">

                <div class="form-group"></div>
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control">

                <div class="form-group"></div>
                <label for="Email">Email Address</label>
                <input type="email" class="form-control">

                <div class="form-group"></div>
                <label for="password">Password</label>
                <input type="password" class="form-control">
                <button class="btn btn-dark">Register</button>
            </form>
        </div>

    </main>

        <footer id="mainfooter">
            <div class="container">

            </div>

        </footer>

        
    <script type="module" src="/main.js"></script>
</body>

</html>